<link rel="stylesheet" href="/ui/app/components/footer/footer.css">
<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <label>Total Memory:</label> {{InfoService.getInfo().totalMemoryPercent | number}}%
            </div>
            <div class="col-md-2">
                <label>This Process's Memory:</label> {{InfoService.getInfo().thisProcessMemory | number}} kb
            </div>
            <div class="col-md-2">
                <label>PID:</label> {{InfoService.getInfo().pid}}
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</div>