<form class="form-horizontal">
    <div class="form-group">
        <label class="col-md-3">Polynomial</label>
        <div class="col-md-9">
            <input type="text" ng-model="polynomial" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3">Start</label>
        <div class="col-md-9">
            <input type="text" ng-model="start" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3">Stop</label>
        <div class="col-md-9">
            <input type="text" ng-model="stop" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3">Increment</label>
        <div class="col-md-9">
            <input type="text" ng-model="increment" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <button type="submit" class="form-control" ng-click="PlotService.loadPlot(polynomial, start, stop, increment)">Plot That Shit</button>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3">Grid</label>
        <div class="col-md-9">
            <label>
                <input type="checkbox" ng-model="showGrid"> Show Grid
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3">Offset X</label>
        <div class="col-md-9">
            <input type="number" ng-model="offsetX" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3">Offset Y</label>
        <div class="col-md-9">
            <input type="number" ng-model="offsetY" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3">Zoom</label>
        <div class="col-md-9">
            <input type="number" ng-model="zoomFactor" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3">Info</label>
        <div class="col-md-9">
            Returned <strong>{{PlotService.getNumPoints() | number}}</strong> points.
        </div>
    </div>
</form>
