<svg ng-attr-width="{{graphWidth}}" ng-attr-height="{{graphHeight}}" ng-style="{background: backgroundColor}">
    <line ng-if="showGrid" ng-repeat="i in getNumber(graphWidth/zoomFactor/2) track by $index" ng-attr-x1="{{originY + $index*zoomFactor}}" y1="0" ng-attr-x2="{{originY + $index*zoomFactor}}" ng-attr-y2="{{graphHeight}}" stroke-width="1" ng-attr-stroke="{{::gridColor}}"></line>
    <line ng-if="showGrid" ng-repeat="i in getNumber(graphWidth/zoomFactor/2) track by $index" ng-attr-x1="{{originY - $index*zoomFactor}}" y1="0" ng-attr-x2="{{originY - $index*zoomFactor}}" ng-attr-y2="{{graphHeight}}" stroke-width="1" ng-attr-stroke="{{::gridColor}}"></line>
    <line ng-if="showGrid" ng-repeat="i in getNumber(graphHeight/zoomFactor/2) track by $index" x1="0" ng-attr-y1="{{originX + $index*zoomFactor}}" ng-attr-x2="{{graphWidth}}" ng-attr-y2="{{originX + $index*zoomFactor}}" stroke-width="1" ng-attr-stroke="{{::gridColor}}"></line>
    <line ng-if="showGrid" ng-repeat="i in getNumber(graphHeight/zoomFactor/2) track by $index" x1="0" ng-attr-y1="{{originX - $index*zoomFactor}}" ng-attr-x2="{{graphWidth}}" ng-attr-y2="{{originX - $index*zoomFactor}}" stroke-width="1" ng-attr-stroke="{{::gridColor}}"></line>
    <!--x axis-->
    <line x1="0" ng-attr-y1="{{originY + zoomFactor * offsetY}}" ng-attr-x2="{{graphWidth}}" ng-attr-y2="{{originY + zoomFactor * offsetY}}" stroke-width="1" ng-attr-stroke="{{::axisColor}}"></line>
    <!--y axis-->
    <line ng-attr-x1="{{originX - zoomFactor * offsetX}}" y1="0" ng-attr-x2="{{originX - zoomFactor * offsetX}}" ng-attr-y2="{{graphHeight}}" stroke-width="1" ng-attr-stroke="{{::axisColor}}"></line>
    <line ng-repeat="point in PlotService.getPoints()" ng-if="$index != 0" ng-attr-x1="{{originY + zoomFactor * (point.x - offsetX)}}" ng-attr-y1="{{originX - zoomFactor * (point.y - offsetY)}}" ng-attr-x2="{{originY + zoomFactor * (PlotService.getPoints()[$index-1].x - offsetX)}}" ng-attr-y2="{{originX - zoomFactor * (PlotService.getPoints()[$index-1].y - offsetY)}}" stroke-width="2" ng-attr-stroke="{{::functionColor}}"></line>
</svg>
